* {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(0,0,0, .9);
    z-index: 100;
}
.modal .modal__close_button {
    float: right;
    background: url('../../assets/icons/close.svg') no-repeat 0 0;
    height: 17px;
    width: 17px;
    border: 0;
    margin: 18px 23px 0 0;
}
.popup {
    background-color: white;
    height: 416px;
    width: 392px;
}
.title {
    padding-top: 24px;
    text-align: center;
    font-size: 30px;
    font-family: 'PantonRegular', Helvetica, Arial, sans-serif;
}
.email_pass {
    font-size: 12px;
    color: #ACB5BD;
    padding-left: 29px;
}
input {
    margin-left: 29px;
    background: #F2F4F6;
    /* border: 2px solid #F23D18; */
    box-sizing: border-box;
    border-radius: 40px;
    height: 40px;
    width: 335px;
    border: 0;
    box-shadow: inset 0px 2px 0px #D3DAE1;
    padding-left: 20px;
    color: #5D6978;

    font-size: 13px;
    line-height: 20px;
}
.enter_btn {
    background: #7EB336;
    border-radius: 40px;
    width: 335px;
    height: 40px;
    margin-top: 26px;
    margin-left: 26px;
    border: 0;

    font-family: Panton;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}
.footer {
    display: flex;
    padding: 0px 29px 0px 29px;
    justify-content: space-between;
    padding-bottom: 45px;

}
.footer__btn {
    border-style: none;
    border-bottom: 1px dashed #36BED9;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: #36BED9;
    float: right;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}
.footer__descr {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding-top: 26px;
}

@font-face {
    font-family: "PantonRegular";
    src: url("../../fonts/Panton/Panton-Regular.ttf") format("truetype");
   }
@font-face {
    font-family: "Ubuntu";
    src: url("../../fonts/Ubluntu/Ubuntu-regular.ttf") format("truetype");
   }

.pass_block {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
}
.eye {
    /* float: right; */
    background: url('../../assets/icons/eye.png') no-repeat 0 0;
    width: 16px;
    height: 16px;
    border: 0;
    /* margin: 18px 23px 0 0; */
    position: absolute;
    left: 328px;
    top: 49px;

}